<p id="notice"><%= notice %></p>

<p>
  <strong>Trello:</strong>
  <%= @list.trello_id %>
</p>

<% @cards.each do |card| %>
  <div class="trello-card">
    <%= link_to card['name'], card['shortUrl'], target: '_blank' %>
    <% card['slack_names'].each do |name| %>
      <li>@<%= name %></li>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
